name: Deploy Production

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Deploy to Production Server
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.PROD_HOST }}
          username: deploy
          key: ${{ secrets.STAGING_SSH_KEY }}
          port: 22
          script: |
            cd /var/www/hometexv3

            git fetch origin
            git checkout main
            git pull origin main

            npm install
            rm -rf .next
            npm run build

            pm2 reload ecosystem.config.cjs --only hometex-frontend --update-env
