name: Deploy Staging

on:
  push:
    branches:
      - staging

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Deploy to Staging Server
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.STAGING_HOST }}
          username: deploy
          key: ${{ secrets.STAGING_SSH_KEY }}
          port: 22
          script: |
            cd ${{ secrets.STAGING_PATH }}
            git fetch origin
            git checkout staging
            git pull origin staging
            npm install
            npm run build
            pm2 restart hometex-staging
