name: Deploy Staging

on:
  push:
    branches:
      - staging

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Deploy to Staging Server
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.STAGING_HOST }}
          username: deploy
          key: ${{ secrets.STAGING_SSH_KEY }}
          port: 22
          script: |
            cd /var/www/hometexv3-staging

            git fetch origin
            git checkout staging
            git pull origin staging

            npm install
            rm -rf .next
            npm run build

            pm2 reload ecosystem.config.cjs --only hometex-staging
